body
{
	padding: 0;
	margin: 0;
	background-color: black;
	overflow-y:hidden;
	overflow-x: hidden;
}

p
{
	font-family: sans-serif;
	text-align: center;
	position: relative;
}
h1
{
	font-family: 'Young Serif', serif;
	text-align: center;
	position: relative;
}
div
{
	margin: auto;
	display: block;
	position: relative;
}
img
{
	display: block;
	margin: auto;
	width: 100%;
	position: relative;
}
#trade-image
{
	height: 1000px;
}
#image-div
{
	background-color: black;
	max-width: 500px;
	height: 400px;
	top:-800px;
	opacity: 0.9;
	border-radius: 70px;
}
#image-scout
{
	max-width: 120px;
	height:120px;

}
#image-header
{
	color: white;
	top:-15px;
}
#for-those
{
	color:white;
	top:-20px;
	font-size:20px;
}
#steam-image
{
	max-width:60px;
	top:10px;
}
#steam-image:hover
{
	cursor: pointer;
}
