body
{
	padding: 0;
	margin: 0;
	background-color: black;
	overflow-y:hidden;
	overflow-x: hidden;
}
ul
{
list-style-type: none;
margin:0;
padding:0;
background-color: darkred;
margin-bottom:0px;
text-align: center;
}
li
{
color:white;
text-shadow: 0px 0px 2px;
font-weight: bold;
font-family: sans-serif;
font-size:50px;
padding:14px 16px;
display:inline-block;
}

#info:hover
{
	cursor: pointer;
	opacity: 0.6;
}
#backpacktf:hover
{
	cursor:pointer;
	opacity: 0.6;
}
#home
{
	opacity: 0.6;
}

p
{
	font-family: sans-serif;
	text-align: center;
	position: relative;
}
h1
{
	font-family: 'Young Serif', serif;
	text-align: center;
	position: relative;
}
div
{
	margin: auto;
	display: block;
	position: relative;
	width:100%;
}
img
{
	display: block;
	margin: auto;
	width: 100%;
	position: relative;
}
#trade-image
{
	height: 1000px;
}
#image-div
{
	background-color: black;
	max-width: 500px;
	height: 400px;
	top:-800px;
	opacity: 0.9;
	border-radius: 50px;
}
#image-scout
{
	max-width: 120px;
	height:120px;

}
#image-header
{
	color: white;
	top:-15px;
}
#for-those
{
	color:white;
	top:-20px;
	font-size:20px;
}
#steam-image
{
	max-width:60px;
	top:-50px;
}
#steam-image:hover
{
	cursor: pointer;
}
#ten-cut
{
	color:red;
	font-weight: bold;
	font-size:20px;
	top:-70px;
}






/* 900 PIXELS */
@media (max-width:915px)
{
	li
	{
		font-size: 20px;
	}
	#image-div
	{
		max-width: 330px;
		height:330px;
	}
	#image-scout
	{
		height:70px;
	}
	#image-header
	{
		font-size: 24px;
	}
	#for-those
	{
		font-size: 14px;
	}
	#ten-cut
	{
		top:-50px;
		font-size: 13px;
	}
	#steam-image
	{
		top:10px;
		max-width: 40px;
	}
}

@media (max-width:926px) and (height:428px)
{
		#trade-image
	{
		height:428px;
	}
	#image-div
	{
		width:280px;
		height:280px;
		top:-380px;
	}
	#image-scout
	{
		height:70px;
	}
	#image-header
	{
		font-size:20px;
	}
	#for-those
	{
		font-size:12px;
	}
	#ten-cut
	{
		font-size:11px;
	}
	#steam-image
	{
		top:-15px;
		max-width: 40px;
	}
}
@media (max-width:915px) and (height:412px)
{
	#trade-image
	{
		height:412px;
	}
	#image-div
	{
		top:-400px;
	}
}
@media (max-width:896px) and (height:414px)
{
	#trade-image
	{
		height:414px;
	}
	#image-div
	{
		width:280px;
		height:280px;
		top:-360px;
	}
	#image-header
	{
		font-size:20px;
	}
	#for-those
	{
		font-size:12px;
	}
	#ten-cut
	{
		font-size:11px;
	}
	#steam-image
	{
		top:-15px;
		
	}
}
@media (max-width:854px) and (height:384px)
{
	#trade-image
	{
		height:384px;
	}
	#image-div
	{
		width:280px;
		height:280px;
		top:-360px;
	}
	#image-header
	{
		font-size:20px;
	}
	#for-those
	{
		font-size:12px;
	}
	#ten-cut
	{
		font-size:11px;
	}
	#steam-image
	{
		top:-15px;
		
	}
}
@media (max-width:844px) and (height:390px)
{
		#trade-image
	{
		height:390px;
	}
	#image-div
	{
		width:280px;
		height:280px;
		top:-360px;
	}
	#image-header
	{
		font-size:20px;
	}
	#for-those
	{
		font-size:12px;
	}
	#ten-cut
	{
		font-size:11px;
	}
	#steam-image
	{
		top:-15px;
		
	}
}
@media (max-width:812px) and (height:375px)
{
	#trade-image
	{
		height:375px;
	}
		#image-div
	{
		width:280px;
		height:280px;
		top:-358px;
	}
	#image-header
	{
		font-size:20px;
	}
	#for-those
	{
		font-size:12px;
	}
	#ten-cut
	{
		font-size:11px;
	}
	#steam-image
	{
		top:-15px;
		
	}

}
@media (max-width:800px) and (height:360px)
{
	#trade-image
	{
		height:360px;
	}
	#image-div
	{
		width:280px;
		height:280px;
		top:-348px;
	}
	#image-header
	{
		font-size:20px;
	}
	#for-those
	{
		font-size:12px;
	}
	#ten-cut
	{
		font-size:11px;
	}
	#steam-image
	{
		top:-15px;
		
	}
}







