body
{
	padding: 0;
	margin: 0;
	background-color: black;
	overflow-x: hidden;
}
ul
{
list-style-type: none;
margin:0;
padding:0;
background-color: darkred;
margin-bottom:0px;
text-align: center;
}
li
{
color:white;
text-shadow: 0px 0px 2px;
font-weight: bold;
font-family: sans-serif;
font-size:50px;
padding:14px 16px;
display:inline-block;
}

#backpack
{
	opacity: 0.6;
}
#home:hover
{
	cursor: pointer;
	opacity: 0.6;
}
#info:hover
{
	cursor: pointer;
	opacity: 0.6;
}



h1
{
	text-align: center;
	color:white;
	position: relative;
}
img
{
	width:100%;
	margin: auto;
	display: block;
	position: relative;
}
p
{
	font-family: sans-serif;
	color:white;
	text-align: center;
	position: relative;
}
a
{
	text-decoration:none;
	color:#789922;
}


#chilly-image-header
{
	max-width: 1000px;
	margin-top:100px;
	margin-bottom:-10px;
}
#header-text
{

	font-family: "Young Serif",serif;
	margin-bottom: 50px;
}
#pre-exp
{
	font-size:18px;
}



#greentext
{
	max-width: 500px;
}
#greentext:hover
{
	max-width: 550px;
	cursor: pointer;
}
#thats-it
{
	top:15px;
	font-size: 18px;
}
#ps
{
	font-size: 14px;
}



@media only screen and (max-width:428px) and (max-height:928px)
{

	#chilly-image-header
	{
		max-width: 500px;
		height:100px;
	}
	#header-text
	{
		font-size:18px;
		margin-bottom: 50px;
	}
	#pre-exp
	{
		font-size: 16px;
	}
	#thats-it
	{
		font-size: 15px;
	}
	#ps
	{
		font-size: 11px;
	}
}